<!DOCTYPE html>
<html>
<head>
  <title>Aura</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <% if user_signed_in? %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="bounce navbar-brand" href="/">The <span class="coolBlue">A<span style="font-size:12px;">ura</span></span> Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= nav_link 'Dashboard', root_path %></li>
            <li><%= nav_link 'Offers', offers_path %></li>
            <li><%= nav_link "About", welcome_about_path %></li>
            <li><%= nav_link "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, data: { confirm: "Are you sure you want to Sign Out?" } %></li>
          </ul>
          <form class="navbar-form navbar-right">
          </form>
        </div>
      </div>
    </nav>
  <% else %>
    <div class="jumbotron text-center">
      <h1 class="white">Welcome to <span class="animated fadeInRightBig coolBlue">Aura</span></h1>
      <p class="white lead">
        You must sign in or sign up before you can access our super sweet,
        top secret content.
      </p>
        <p id="notice" class="animated pulse coolBlue"><%= notice %> <%= alert %></p>

  <% end %>

    <div class="clearfix visible-xs-block"></div>
    
    <div class="animated fadeIn container-fluid">
			<%= yield %>
		</div>


</body>
</html>
